body {
    margin: 0px;
    font-family: sans-serif;
    font-size: 30px;
}

/* Body Header */

#body-header {
    height: 62vh;  
    opacity: 0.8;
    background-image: url('./bgImage.jpg');
    background-size: cover;
    background-position: initial;
    background-attachment: fixed;
    padding-top: 1.2rem;
}

/*  nav  */
body::-webkit-scrollbar { 
    display: none; 
}

/* dropdown bar */
.bars{
    color: white;
    margin: 0;
    margin-right: 5%;
    display: none;
    position: relative;
}

.bars i {
    font-size: 2rem;
}

.dropdown-list{
    margin: 0;
    display: none;
    background-color: #828470;
    box-shadow: 0px 4px 8px 1px #535547;
}

.dropdown-list ul{
    margin: 0.2rem 0.2rem;
    text-align: left;
    padding: 0px 0.8rem;
}

.dropdown-menu:hover .dropdown-list{
    display: block;
    position: absolute;
    right: 3%;
}

.dropdown-list li{
    margin: 0.4rem 0px;
}

.no-list-style{
    list-style: none;
}

i .no-list-style li {
    font-weight: 100;
    font-size: 0.9rem;
}

.no-list-style li a{
    list-style: none;
    color: white;
    text-decoration: none;
}


/* Horizontal Lists */

.horizontal-list {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

.horizontal-list li {
    display: inline-block;
    margin: 0px 8px 8px 0px;
    font-weight: 100;
    font-size: 0.9rem;
}


.horizontal-list li a {
    color: black;
    text-decoration: none;
}

.nav-menu li a {
    transition: color 0.5s, border-bottom 4s;
    font-weight: bold;
    font-size: 1rem;
}

.nav-menu li a:hover {
    color: #8f15c6;
    font-weight: bold;
    font-size: 1.3rem;
    border-bottom: 1px solid black;
}
.text-center {
    text-align: center;
}

/* media query for nav links */

@media only screen and (max-width: 572px) {

    .bars {
        display: inline-block;
        left: 90%;
        position: relative;
    }
    
    .nav-menu {
        display: none;
    } 
}


/* Name and Social Icons*/

#name-social-container {
    margin-top: 20vh;
}

#my-name {
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: rgb(54, 7, 83);
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.social-icons li a i {
    color: lightgray;
    padding: 10px;
    font-size: 1rem;
    border-radius: 50%;
}

.social-icons li a i:hover {
    box-shadow: 0px 0px 6px 4px rgba(99, 14, 139, 0.381);
}

/* media query for nav links */
@media screen and (max-width:768px){
    .nav-menu li a{
        font-size: 1rem;
    }
}


/* section */

section{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
}

section:nth-child(2n){
    background-color: #95949529;
}
section:nth-child(2n+1){
    background-color: white;
}

.section-heading{
    width:auto;
    padding: 20px 10px 10px;
    font-weight:400;  
}

.section-heading span{
    font-size:40px;
    color:rgb(88, 12, 134) ;
    display:inline-block;
    padding-top:10px;
    margin-right:0.5rem;
}


/*About Section*/

#about {
    height: auto;
    width: 100%;
    position: relative;
}

#my-image {
    height: 12rem;
    width: 12rem;
    margin: auto;
    margin-top: -17vh;
}

#my-image img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 1px 1px 10px 2px lightgrey;
}
#about-para {
    padding: 10px;
    width: 70%;
    text-align: justify;
    color: grey;
    line-height: 28px;
    font-size: 1.1rem;
    margin: 1rem auto 3rem auto;
}

.text-highlight {
    color: rgb(88, 12, 134);;
    font-weight: 600;
    position: relative;
}

.text-highlight::after{
    content: "";
  position: absolute;
  left: 0;
  bottom: -2px; /* Adjust the value to control the distance of the underline from the text */
  width: 100%;
  height: 2px; /* Adjust the value to control the thickness of the underline */
  background-color: rgb(88, 12, 134);; /* Adjust the color of the underline */
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.5s ease;
}

.text-highlight:hover::after {
  transform: scaleX(1);
}

/* media query for about section */
@media screen and (max-width:768px){
    #about-para{
        font-size:1.3rem;
    }
}

/* skill section */

.skill-display{
    width:70%;
    /* height:100px; */
    /* border: 2px solid black; */
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    margin-bottom: 4rem;
}

.skill-progress{
    width:10rem;
    height:2rem;
    background-color:lightgray;
    border-radius:.8rem;
    margin: 2rem;
    
/*     border: 2px solid black; */
}

.skill-progress > div{
    border-radius: 20px 0px 0px 20px;
}
.skill-name span{
    color:white;
    font-size: 1rem;
    margin-left:30px;
    text-align:center;
}

/* common margin classes */
.mb75px{
    margin-bottom: 75px;
}

/* common color classes */
.mb-blue{
    background-color: #2857a4;
}
.mb-orange{
    background-color: orangered;
}
.mb-purple{
    background-color: purple;
}
.mb-maroon{
    background-color: rgb(131, 11, 53);
}
.mb-green{
    background-color: green;
}
/* percentage classes */
.sixty-five-percent{
    width: 65%;
    height: inherit;
}
.seventy-five-percent{
    width: 75%;
    height: inherit;
}
.eighty-five-percent{
    width:85%;
    height:inherit;
}
.ninty-percent{
    width: 90%;
    height: inherit;
}

/* skill media query */
@media screen and (max-width:768px){
    .skill-display{
        flex-wrap:wrap;
    }
}

/* work experience & education section */
.work-detail{
    display: flex;
    flex-direction: column;
}
.work-company{
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.work-company-logo{
    width: 30%;
}
.work-company-logo img{
    width: 4vw;
    height: 6vh;
}
.work-company-name{
    width: 70%;
    padding-right: .5rem;
}
.work-company h3{
    margin: .4rem 0;
    color: rgb(88, 12, 134);
    font-size: 1.5rem;
    font-weight: bold;
    text-align: end;
}
.work-company h4{
    margin: .3rem 0;
    font-size: 1rem;
    color: rgb(225, 207, 5);
    font-weight: 600;
    text-align: end;
}
.work-years{
    color: rgb(171, 171, 171);
    font-size: 1rem;
    margin: 0;
    text-align: end;
}
.work-about{
    height: 60%;
    font-size: 1rem;
    color: rgb(166, 166, 166);
    padding: 0 .5rem;
    width: 100%;
    min-height: 3rem;
    max-height: 5rem;
}

/* timeline for both experience & education */

.timeline{
    position: relative;
    width: 75%;
    margin-bottom: 5rem;
    /* border: 2px solid black; */
}

.timeline-box{
    position: relative;
    margin: 5px;
    width: 35%;
    left: 5%;
    min-height: 150px;
    /* border: 2px solid black; */
}

.timeline-box:nth-child(2n){
    left: 53%;
}

.timeline-box:nth-child(2n+1)::after{
    content: '';
    position: absolute;
    top: 30%;
    right: -29%;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: red;
    z-index: 1;
}

.timeline-box:nth-child(2n)::after{
    content: '';
    position: absolute;
    top: 30%;
    left: -10%;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: red;
    z-index: 1;
}

.timeline-divider{
    position: absolute;
    height: 75%;
    width: 0;
    border: 3px dashed #0096fa6b;
    top: 10%;
    left: 50%;
}
.timeline-traveller{
    position: sticky;
    top: 30%;
    transform: rotate(90deg);
    z-index: 2;
}
.timeline-traveller i{
    color: rgb(88, 12, 134);
}


/* media query for education and experience */
@media screen and (max-width:768px){
    .timeline-divider{
        left: 5%;
    }
    .timeline-box{
        left: 12% !important;
        width: 80%;
        margin: 1rem;
    }
    /* .timeline-box:nth-child(2n){
        left: 12%;
    } */
    .timeline-box::after{
        left: -12% !important;
    }
    .work-company-logo img{
        width: 6vw;
    }
    html{
        font-size: 15px;
    }
    /* .timeline-box:nth-child(2n+1)::after{
        left: -12%;
    }
    .timeline-box:nth-child(2n)::after{
        left: -12%;
    } */

}

/* portfoli section */
.portfolio{
    display: flex;
    align-items: center;
    justify-content: center;
}
.portfolio-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 5rem;
}
.portfolio-container div{
    padding:1rem;
    cursor: pointer;
    height:25%;
    width: 25%;
    display: grid;
    place-items: center;
}
.portfolio-container img{
    /* width:18rem;
    height:18rem; */
    width: 100%;
    height: 100%;
}

/* media query for portfoilo */
@media screen and (max-width:768px){
    .portfolio-container{
        flex-direction: column;
    }
    .portfolio-container div{
        height:40%;
        width: 40%;
    }
    .portfolio-container img{
        width: 120%;
        height: 120%;
    }
}


/* contact section */

ul{
    list-style: none;
    padding: 0;
}

#contact{
    color: white;
    background: linear-gradient(90deg,#2857a4,#403066);
    height: auto;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size:1rem;
}
#contact  span{
    color: white;
}
#contact-heading{
    font-size: 2rem;        
    font-weight: 600;
    padding: 2rem 0;
    /* border: 2px solid gray; */
}
        
.contact-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* border: 2px solid yellow; */
    position: relative;
}
.contact-form input, textarea{
    outline: none;
    border: none;
    border-bottom: 2px solid lightgray;
    background-color: transparent;
    font-size: 1.1rem;
    width:90%;
    padding: .5rem;
    margin: 1rem 0;
    color: lightgray;
}
.contact-form button{
    font-size: 1rem;
    font-weight: 400;
    padding: 0.4rem;
    margin-top: 1rem;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: .2rem;
    text-transform: uppercase;
    cursor:pointer;
}
.contact-form{
    padding: 0 2rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid palevioletred; */
}
.contact-address{
    padding: 0 2rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    /* border: 2px solid palevioletred; */
}
.contact-address h2{
    font-size: 1.2rem;
    line-height: 2;
    margin: .5rem 0;
}
.contact-address p{
    font-size: 1rem;
    color: lightgray;
    max-width: 50rem;
    min-width: auto;
}
.contact-address li{
    padding: .3rem 0 ;
}
.contact-address span{
    margin: 1rem;
    color: lightgray;
}

#contact-social-media{
    margin: 2rem 0;
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
}
#contact-social-media i{
    display: inline-block;
    padding: 1rem;
    color: lightgray;
    cursor: pointer;
}
#contact-social-media i:hover{
    color: white;
}


/* media queries for contact */
@media screen and (max-width:768px){
    #contact{
        background: linear-gradient(to top right,#2857a4,#403066 90%);
    }
    .contact-container{
        flex-direction: column;
    }
    .contact-form{
        margin-bottom: 4rem;
        width: 80%;
    }
    .contact-address{
        width: 80%;
    }
    #contact-social-media i{
        padding: 0 2rem;
    }
}
